.products{
    margin-top: 125px; /*MARGEN CON EL HEADER*/
    margin-bottom: 10px;
}
.products__menu{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 180px;
    position: absolute;
}
.product_container{
    margin-bottom: 10px;
    margin-right: 30px;
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.products__menu-item{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #f9f9f9;
    padding: 12px 40px;
    margin-bottom: 10px;
    /* border-style: solid; */
    border-width: 1px;
    border-radius: 0px;
    /* background-color: var(--primary-color); */
}

p{
    font-size: 18px;
    color: #999;
}

.products-title{
    padding: 5px;
    margin-bottom: 70px;
    margin-left: 20px;
    width: 100%;
}

.products__images{
    /* width: 30%; */
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
    vertical-align: middle;
    border-style: none;
}
.products__images p{
    display: flex;
    justify-content: center;
}

.products__images{
    /* margin-left: 40px; */
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    justify-content: space-around;
    margin-left: 400px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    /* max-width: 350px; */
    height: auto;
    /* height: 1200px; */
    /* max-width: 70%; */
}

.dimension{
    opacity: 0;
    transition: opacity 0.5s;
    position: relative;
    width: 100%;
    bottom: 42px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--secondary-color);
    /* transition: visibility 1s; */
    /* bottom: 64px;
    left: 15%; */
}
.product_container img:hover + .dimension{
    opacity: 1;    
}
.product_container img{
    transition: box-shadow 0.5s;
}
.product_container img:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
}

