.products{
    margin-top: 125px; /*MARGEN CON EL HEADER*/
    margin-bottom: 10px;
}
.products__menu{
    margin-left: 94px;
}
.product_container{
    margin-bottom: 10px;
}

.products__menu-item{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #f9f9f9;
    padding: 12px 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    background-color: var(--primary-color);
}

p{
    font-size: 18px;
    color: #999;
}

.section-title{
    margin-bottom: 70px;
}

.products__images img{
    /* width: 30%; */
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    margin-right: 15px;
    vertical-align: middle;
    border-style: none;
}
.products__images p{
    display: flex;
    justify-content: center;
}
.products__images img:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
}
.products__images{
    /* margin-left: 40px; */
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    justify-content: space-around;
    margin-left: 94px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    /* max-width: 350px; */
    height: auto;
    /* height: 1200px; */
    /* max-width: 70%; */
}

