.products{
    margin-top: 125px; /*MARGEN CON EL HEADER*/
}

.products__images img{
    /* width: 30%; */
    margin-top: 10px;
    box-shadow: 0 0 10px #ccc;
    /* width: 400px; */
    /* height: 200px; */
}
.products__images img:hover{
    cursor: pointer;
}
.products__images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}